**/.git
**/.gitignore
**/.vs
**/.vscode
**/bin
**/obj
**/.DS_Store
**/node_modules
**/npm-debug.log
**/.dockerignore
**/Dockerfile*
**/docker-compose*
**/.env
**/*.md
!src/**/*.md
**/charts
**/secrets.dev.yaml
**/values.dev.yaml
LICENSE
README.md
.azure
.github
docs
media
infra
